@model IEnumerable<RestaurantWebsite.Models.Employee>

<section id="chefs" class="chefs section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Chef</h2>
        <p><span>Our</span> <span class="description-title">Proffesional Chefs</span></p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            @foreach (var emp in Model)
            {
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="~/img/chefs/@emp.Img" class="img-fluid" alt="@emp.FullName">
                            <div class="social">
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@emp.FullName</h4>
                            <span>SĐT: @emp.PhoneNumber</span>
                            <p>@emp.Detail</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
