@model IEnumerable<RestaurantWebsite.Models.Employee>

<h2>Employee List</h2>

<p>Test View Loaded</p>

<table>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.EmployeeId</td>
            <td>@emp.FullName</td>
        </tr>
    }
</table>
