@model IEnumerable<RestaurantWebsite.Models.Dish>

@{
    ViewData["Title"] = "Dishes";
}

<h1>Dishes</h1>


<div class="container">
    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        <div class="tab-pane fade active show" id="menu-starters">
            
            <div class="row gy-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 menu-item">
                        <img src="/img/menu/@item.Img" class="card-img-top" alt="@item.DishName" style="object-fit: cover;height: 400px;" />
                        <h4>@Html.DisplayFor(modelItem => item.DishName)</h4>
                        <p class="ingredients">
                        </p>
                        <p class="text-red-600">@item.UnitPrice.ToString("N0") VNĐ</p>

                       
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
}