@using RestaurantWebsite.Models
@using X.PagedList.Mvc.Core

<h2>Danh sách bàn ăn</h2>

    <div class="container">
        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
            <div class="tab-pane fade active show" id="menu-starters">

                <div class="row gy-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 menu-item">
                        <img src="/img/table/@item.Img" class="card-img-top" alt="@item.TableName" style="object-fit: cover;height: 200px;" />
                            <p class="ingredients">
                                @item.Location  
                            </p>
                            <p class="price">
                              Còn  @item.Quantity bàn
                            </p>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


